#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.amplify-button--primary {
  background-color: var(--amplify-components-button-primary-background-color);
}

@import url("./tailwind.css");
